
*{
	margin:0;
	padding: 0;
	border: 0;
}
body{
	background: #C3C3C3;
}

table
{
	margin: 0px auto 0px;
	background-color: black; 
	text-align: center;
}
p
{
	padding: 3px;
}
.td1
{
	width: 8%;
}
.img_head
{

	margin:0;
	padding: 0;
	border: 0;

	width:100%;
	height: 30%;
	
}

.img_foto
{
	width: 5%;
	height: 7,5%;
	position: absolute;
}
.img_study
{
	margin-left: 95%;
	position: absolute;
	width: 5%;
	height: 7,5%;
}
.txt
{
font-family: gabriola; 
font-size: 150%;
text-align: center;

}
.txt.txt-1
{
background-color:#CCCCFF; 	
}
.txt.txt-2
{	
background-color:#99CC66; 	
}
.kino
{
	font-family: Impact;
	text-align: center;
	font-size: 150%;
	

    
}
.block_kino
{
	width: 50%;
	height: 100%;
	display: inline-block;
	margin-left: 25%;
	

}

.img_pop_corn
{
	 
	width:10%;
	height: 10%;
	
}

.img_pop_corn.l
{
float: left;	
}
.img_pop_corn.r
{
float: right;	
}
.img_left
{
	float: left;

	padding-right: 10px;
	border-radius: 7px;



}
.img_right
{	
	
	float: right;

	border-radius: 7px;

}

.block
{
	display: inline-block;
	height: 97.5%;
	width: 97.5%;
	margin: 0% 0% 2% 10px ;
	background-color: #31a9e0;
	border:  3px solid blue;
	border-radius:10px;
	box-shadow: 19px 20px 25px -2px rgba(117,185,245,0.62); 
}
.see_png
{
	width: 10%;
	height: 10%;
}
.block-foto
{
		
	display: inline-block;
	margin-left: 20%;	
	z-index: 100;
	
}
.foto-my
{
	/*overflow: hidden;*/

	width: 25%;
	height: 25%;
	display: inline-block;
	z-index: 100;
}
.foto-my img
{	z-index: 100;
	width: 100%;
	height: 100%;
	-moz-transition:all 1.3s ease-out;
	-o-transition:all 1.3s ease-out;
	-webkit-transition:all 1.3s ease-out;
}
.foto-my img:hover
{
	z-index: 100;
	-moz-transform:scale(1.3);
	-o-transform:scale(1.3);
	-webkit-transform:scale(1.3);	
	padding-bottom: 50px;
}



.blockquote {z-index: 1;
width: 94%;
margin: 0;
padding: 40px;
color: #3F484D;
position: relative;
font-family: 'Lato', sans-serif;
text-align: center;
}
.blockquote:before, blockquote:after {
	z-index: 1;
font-size: 45px;
color: #3CA1D9;
position: absolute;
height: 2px;
left: 40px;
right: 40px;
line-height: .5;
background: linear-gradient(to right, #3CA1D9 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #3CA1D9 55%);
font-family: serif;
}
.blockquote:before {
	z-index: 1;
content: "\201C";
top: 30px;
}
.blockquote:after {
	z-index: 1;
content: "\201D";
bottom: 30px;
}
.blockquote p {
	z-index: 1;
font-size: 20px;
}
.blockquote footer {
	z-index: 1;
margin-bottom: 1em;
}
.blockquote cite {
	z-index: 1;
font-style: normal;
}
